USE [master]
GO

CREATE DATABASE [ParkingAccessDB]
GO

USE [ParkingAccessDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingAccessDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingAccessDB]
GO

/****** Object:  Table [dbo].[AccessLog]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicul_id] [int] NULL,
	[data_in] [datetime] NULL,
	[data_out] [datetime] NULL,
	[status_acces] [nvarchar](255) NULL,
	[tarif_platit] [decimal](10, 2) NULL,
	[status_iesire] [nvarchar](20) NULL,
	[spot_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSpots]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSpots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cod_loc] [nvarchar](10) NOT NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingStatus]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nr_total_locuri] [int] NULL,
	[locuri_ocupate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingTariffs]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingTariffs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zile] [int] NOT NULL,
	[pret_total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[zile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cod_bare] [nvarchar](100) NULL,
	[vehicul_id] [int] NULL,
	[suma] [decimal](10, 2) NULL,
	[data_plata] [date] NULL,
	[acces_id] [int] NULL,
	[achitat] [bit] NULL,
	[reservation_id] [int] NULL,
	[subscription_id] [int] NULL,
	[tip_plata] [nvarchar](50) NULL,
	[metoda_plata] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[spot_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[telefon] [nvarchar](20) NULL,
	[parola] [nvarchar](255) NULL,
	[role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abonat_id] [int] NULL,
	[tip] [nvarchar](50) NULL,
	[data_start] [date] NULL,
	[data_expirare] [date] NULL,
	[status_plata] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 04-Jul-26 4:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numar_inmatriculare] [nvarchar](20) NOT NULL,
	[abonat_id] [int] NULL,
	[tip] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numar_inmatriculare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessLog] ADD  CONSTRAINT [DF__AccessLog__statu__4AB81AF0]  DEFAULT ('neprocesat') FOR [status_iesire]
GO
ALTER TABLE [dbo].[ParkingSpots] ADD  DEFAULT ('liber') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [achitat]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Subscribers] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF_Vehicles_tip]  DEFAULT ('utilizator') FOR [tip]
GO
ALTER TABLE [dbo].[AccessLog]  WITH CHECK ADD FOREIGN KEY([vehicul_id])
REFERENCES [dbo].[Vehicles] ([id])
GO
ALTER TABLE [dbo].[AccessLog]  WITH CHECK ADD  CONSTRAINT [FK_AccessLog_ParkingSpots] FOREIGN KEY([spot_id])
REFERENCES [dbo].[ParkingSpots] ([id])
GO
ALTER TABLE [dbo].[AccessLog] CHECK CONSTRAINT [FK_AccessLog_ParkingSpots]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([vehicul_id])
REFERENCES [dbo].[Vehicles] ([id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [fk_payments_accesslog] FOREIGN KEY([acces_id])
REFERENCES [dbo].[AccessLog] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [fk_payments_accesslog]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Reservations] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[Reservations] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Reservations]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Subscriptions] FOREIGN KEY([subscription_id])
REFERENCES [dbo].[Subscriptions] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Subscriptions]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([spot_id])
REFERENCES [dbo].[ParkingSpots] ([id])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicles] ([id])
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD FOREIGN KEY([abonat_id])
REFERENCES [dbo].[Subscribers] ([id])
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD FOREIGN KEY([abonat_id])
REFERENCES [dbo].[Subscribers] ([id])
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [chk_tip] CHECK  (([tip]='utilizator' OR [tip]='vizitator' OR [tip]='abonat'))
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [chk_tip]
GO
USE [master]
GO
